/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
}

header {
    background-color: #55515c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

main {
    padding: 20px;
}

/* Estilos para el portafolio */
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.galeria img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el formulario de contacto */
form {
    max-width: 400px;
    margin: 0 auto;
}

form label,
form input,
form textarea {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
